<%= render "layouts/header" %>
<style type="text/css">body {
	transition: background-color 0.5s ease;
}</style>
<div class="mui-row" >
  <div class="mui-col-xs-1 mui-col-md-4"></div>
  <div class="mui-col-xs-6 mui-col-md-4">
	<div class="align-center">
	<div class="mui-text-display2 mui-text-black" id="title">Checkbox</div>
		<h4 id="subtitle">How are you
				<%=  params[:username] %>?
		</h4>
	</div>
	<form id="test-checkbox">
	  <div class="mui-checkbox">
		<label>
		  <input type="checkbox" value="Mushrooms">
		  Mushrooms
		</label>
	  </div>
	  <div class="mui-checkbox">
		<label>
		  <input type="checkbox" value="Dried Tomatoes" disabled>
		  Dried Tomatoes
		</label>
	  </div>
	  <div class="mui-checkbox">
		<label>
		  <input type="checkbox" value="Anchovies">
		  Anchovies
		</label>
	  </div>
	  <div class="mui-checkbox">
		<label>
		  <input type="checkbox" value="Chicken">
		  Chicken
		</label>
	  </div>
	  <div class="mui-checkbox">
		<label>
		  <input type="checkbox" value="Jalapenos">
		  Jalapenos
		</label>
	  </div>
	  <div class="mui-checkbox">
		<label>
		  <input type="checkbox" value="Banana Peppers">
		  Banana Peppers
		</label>
	  </div>	  
	  </form>
	</div>	
  <div class="mui-col-xs-0 mui-col-md-4"></div>
  </div>
  
 <div class="mui-row" id="section-step">
  <div class="mui-col-xs-0 mui-col-md-1"></div>
  <div class="mui-col-xs-9 mui-col-md-4" >
	<div class="mui-text-display1 mui-text-black">step definition</div>
			<p><pre>
 Scenario: Testing the toppings checkbox
  Given I am on Homepage
  Then I select following toppings
    | Mushrooms |
    | Banana Peppers |
    | Chicken |
			</pre></p>
  </div>
  <div class="mui-col-xs-9 mui-col-md-6">
			<pre><code class="language-ruby">
Given(/^I am on Homepage$/) do
	@browser.goto("localhost:3000/checkbox")
end

Then(/^I select following toppings$/) do |toppings|
	toppings.raw.each do |topping|
		binding.pry
		@browser.checkbox(:value => topping[0]).set
	end
end
			</code></pre>
  </div>
  <div class="mui-col-xs-0 mui-col-md-1"></div>
</div>

	  <div class="mui-col-xs-3 mui-col-md-3"><div class="align-right">
	  	  <div>
			  <%= form_tag login_path, :method => :get do %>
			  <%= submit_tag("Prev: Text Fields", class: "mui-btn mui-btn-default mui-btn-raised", id: "login") %>
		    <% end %>
		  </div>
	</div></div>
	<div class="mui-col-xs-2 mui-col-md-6"></div>
	  <div class="mui-col-xs-3 mui-col-md-3" class="align-right">
	  	  <div>
			  <%= form_tag option_path, :method => :get do %>
			  <%= submit_tag("Next: Option", class: "mui-btn mui-btn-default mui-btn-raised", id: "checkbox") %>
		    <% end %>
		  </div>
	</div></div>		
	<div id="footer">
	</div>
